@charset "gb2312";
@import url("http://js.3conline.com/pconline/zt_base2013.css");
body{ background: #9b1b36; }
body #bottom .sites,body #bottom a.bottom_a,body #bottom .mid{ color: #fff}
body #bottom .links{ background: none; }
body .thcmt{ display: none; }
body .cmtContent{ background: #fff; border: 1px solid #eeeeee}
.wraper{ text-align: left; }
a{ color: #4b4b4b}
a:hover{ color: #f60}
body #bottom .links a,body #bottom .links{color: #fff}
.main1000,.tit-bg .mod{ margin: 0 auto; width: 1000px; }
.header,.topBg{ background: url(../img/banner.jpg) no-repeat top center; height: 819px; }
.tit-bg,.tit-bg .mod{ background: url(../img/bg.png) no-repeat top center; height: 74px; }
.tit2,.tit2 .mod{ height:73px; background-position: center -76px; clear: both;}
.tag,.tag .mod{ height:75px; background-position: center -149px; }
.tit-bg span{float: left; font:normal 30px/1 "Microsoft YaHei"; margin-top: 31px;}
.tit-bg span.sub{font-size: 20px; margin: 42px 0 0 5px; color: #ffcf00}
.tit-bg span.tit{margin-left: 30px; color: #fff}
.tit2 span.tit{color: #d22f30}
.tit2 span.sub{color: #fff}

.pics:after{ content:"\20"; clear:both; height:0; display:block; overflow:hidden; }
.pics { zoom:1; margin-right: -20px; padding: 9px; height: 729px; overflow-y: hidden;}
.pics dd{ margin: 0 7px 7px 0; float:left; display:inline; text-align:center; zoom:1; padding:15px 20px 10px 20px; background: #fff; width: 200px;}
.pics dd a:hover{text-decoration: none;}
.pics dd img { vertical-align:top; }
.pics dd span{ display:block; cursor:pointer; overflow:hidden; text-align:left; font:normal 14px/22px "Microsoft YaHei"; margin: 3px 0px;}
.pics dd .title {color: #444444; height: 22px; overflow-y: hidden;}
.pics dd .price{ color: #f75d57; font-size: 28px; line-height: 32px; margin-top: 5px;}
.pics dd .priced{color: #9d9797}
.pics dd .buy{height: 38px; font-size: 20px; line-height: 38px; background: #f75d57; color: #fff;text-align:center; margin-top: 8px;}
.pics dd .noBg { background:none; }

 


#slide {position:relative;    margin-bottom:10px; padding-left: 3px;}
#slide ul {list-style:none}
#slide ul img {vertical-align:middle}  
#slide li{width: 999px;}    
#slide_control { height:320px; list-style:none; color:#fff; margin-right: -20px; padding: 6px 0 0 3px}
#slide_control li {float:left; width:195px; line-height:30px; text-align:center;  background:#888; margin-right: 6px;}
#slide_control li .tit{height: 43px;  color: #fff; text-align: center; display: block; font:normal 24px/43px "Microsoft YaHei"}      

#tab .current {background:#000}   
#tab .auto{background: #169ed0;}
#tab .game{background: #d22f30;}
#tab .lady{background: #e40074;}
#tab .baby{background: #ff9c00;}
#tab .house{background: #77c111;}

.tips{background: url(../img/sq.png) no-repeat 25px 15px; height: 50px; padding: 40px 9px 15px 165px;}
.tips p{text-indent: 2em; font:normal 16px/24px "Microsoft YaHei"; color: #fff}

.tag li{float: left;}
.tag a{display: block;  width: 254px; height: 70px; overflow-y: hidden; color: #fff;font:normal 24px/68px "Microsoft YaHei";  text-align: center;}
.tag a:hover{text-decoration: none;}
.tag .hot a{width: 229px; font-size: 36px; font-weight: 800; color: #ffcf00}

.txtMsg{color: red; font:normal 24px/50px "Microsoft YaHei"; text-align: center; background: #fff; width: 1000px; margin: 0 auto}